<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Born</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Address</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.gender %></td>
    <td><%= user.born %></td>
    <td><%= user.email %></td>
    <td><%= user.nickname %></td>
    <td><%= user.mobile %></td>
    <td><%= user.city %></td>
    <td><%= user.address %></td>
    <td><%= user.image %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
