<div id="main" class="container_12 no_bg">
	<div id="page_content">
		<div class="user_info grid_8">
			<a href="" class="grid_2"><%= image_tag @user.photo.url(:thumb)%></a>
			<div class="grid_6 alpha omega">
				<p><%=  @user.nickname%></p><p><%= @friendship_with_current%></p>
				<% if @friendship_with_current %>
				<p><%= link_to "取消关注", friendships_path(:friend_id=>@user),:method =>:delete, :class => "button green"%></p>
				<%else%>
				<p><%= link_to "关注TA", friendships_path(:friend_id=>@user),:method =>:post, :class => "button green"%></p>
				<%end%>
			</div>
		</div>
		<div class="clear"></div>
		<div id="nav_col" class="grid_2">		
		</div>
		<div id="activity_col" class="grid_7 alpha">
		<h3>最新动态</h3>
		<div class="feed_items">
			<% @user.comments.each do |comm| %>
			<div class="feed_item">
			<div class="item_header">
				<div class="user_image" style="float:left;">
					<a href=""><%= image_tag @user.photo.url(:thumb), :size=> "30x30"%></a>
				</div>
				<div class="feed_meta grid_6 omega">
					<p class="author_action"><%= @user.name%>在<%= link_to comm.obj.name, obj_path(comm.obj)%>签到</p>
					<p class="feed_actions"><span><%= time_ago_in_words(comm.created_at)%></span><a href="">添加回复</a></p>
				</div>
				<div class="feed_reaction"></div>
			</div>
			<div class="item_content">
				<div class="checkin_image" style="float:left"><%= image_tag comm.obj.image.url(:thumb), :size=> "50x75"%></div>
				<div class="checkin_body grid_5">在<%= link_to comm.obj.name, obj_path(comm.obj)%>签到</div>
			</div>
			<div class="replay_content"></div>
			<div class="replay_form"></div>
			<div class="clear"></div>
			</div>
			<% end %>
		</div>
		</div>
		<div id="social_col" class="grid_3">
			<div class="section"> 
				<h4>TA的积分</h4>
			</div>
			<div class="section"> 
				<h4>TA的勋章</h4>
			</div>
			<div class="section"> 
				<h4>邀请好友</h4>
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
	
	
</div>
