<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @friendship.user %>
</p>

<p>
  <b>Friend:</b>
  <%= @friendship.friend %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
